@{
    ViewData["Title"] = "Admin Paneli";
}

<style>
    body {
        background-color: #e1f5fe;
        font-family: Arial, sans-serif;
        text-align: center;
        padding-top: 50px;
    }

    h1 {
        font-size: 32px;
        color: #0277bd;
    }

    a {
        display: block;
        margin: 20px auto;
        padding: 15px 30px;
        width: 200px;
        text-decoration: none;
        color: white;
        background-color: #0288d1;
        border-radius: 5px;
        font-size: 18px;
    }

        a:hover {
            background-color: #01579b;
        }
</style>

<h1>Mesajlar</h1>
<a href="@Url.Action("Mesaj")">Sibel için Mesaj</a>
<a href="@Url.Action("Mesaj")">Berceste için Mesaj</a>
<a href="@Url.Action("Mesaj")">Bünyamin hoca için Mesaj</a>
<a href="@Url.Action("Mesaj")">Gülnar için Mesaj</a>
<a href="@Url.Action("Mesaj")">Esma için Mesaj</a>
<a href="@Url.Action("Mesaj")">Nebihat için Mesaj</a>
<a href="@Url.Action("Mesaj")">Saygın için Mesaj</a>
<a href="@Url.Action("Mesaj")">Süleyman için Mesaj</a>
<a href="@Url.Action("Mesaj")">Kerim için Mesaj</a>
<a href="@Url.Action("Exit")">Çıkış</a>
